@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    @apply bg-primary-background;
  }

  h1 {
    @apply text-3xl;
    @apply text-black;
    @apply font-medium;
  }

  h2 {
    @apply text-xl;
    @apply text-black;
    @apply font-semibold;
  }
}

@layer components {
  .modal-shadow {
    box-shadow: 0 0 16px 0 rgba(40, 48, 45, 0.16);
  }
}
