@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #F0F2F2;
  --ca-green: #17603D;
  --ca-pink: #A70C53;
  --ca-pink-shade: #730034;
  --foreground: #ffffff;
  --high-concern: #FFCDC2;
  --high-concern-shade: 'DC5B3E';
  --neutral-chip: '#BDE7FF';
  --neutral-chip-shade: #75AFCF;
  --no-concern: #C5E2AE;
  --no-concern-shade: #6EB138;
  --location-placed: #DABDFF;
  --location-placed-shade: #DABDFF;
  --location-placed-secondary: #6C2FBB33;
  --primary-gray: #D4D4D4;
  --primary-text: #000000;
  --secondary-text: #353535;
  --some-concern: #FBC49D;
  --some-concern-shade: #E87420;
  --facility-green: #38AE75;
  --facility-green-shade: #BCF0E4;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--primary-background);
}
